{% autoescape off %}

Hi {{ first_name }} {{ last_name }},

Welcome! You have been invited by AAA Club Alliance to access the new ACA Roadside Dashboard, where you can view your Roadside Service Member experience results. This exciting new reporting site includes Member responses to the digital survey, operational metrics (e.g., Actual Time of Arrival – ATA, Call Volume trends, etc.) as well as an Incentive Compensation Scorecard Preview for Service Providers.

To get started, please click the personalized link below to create your Username and Password.

https://aaane.wageup.com/invited/?id={{ inviteid }}

IMPORTANT NOTE:
Our site doesn’t work so well with older browsers like Internet Explorer. If Internet Explorer is your default browser, please copy the link above and put into Chrome, Edge, or Firefox to see the site in the best way possible. If you only have IE you can go here to get Chrome: https://www.google.com/chrome/

VIEWING REPORTS:
Once you enter the site, click on DASHBOARD at the top of the screen if you haven't already done training. The first page you will see once you do this is the new MY DASHBOARD report. This provides all of your Key Metrics (both survey data and operational metrics), by Month and by Driver.  Click on the KEY METRICS REPORT link on the left bar if the report doesn’t populate the first time.

To view your current Incentive Score, click on the SURVEYS at the top of the screen. This will bring up your current Incentive Scorecard as of the new results. The site is updated daily.

To access the raw survey returns for your station, including the Member verbatim comments, click on SURVEY > RAW SURVEYS. This will provide a list of all surveys that have been completed for the time period selected.  You can change the time period by clicking on SELECT DATE RANGE FOR SURVEYS, then clicking Service Date, and entering the FROM and TO dates in the calendar, and hitting SUBMIT.

If you have trouble accessing reports or have questions or feedback, please click CONTACT at the top of the page to provide that feedback. For more information about the survey or compensation program itself, please speak with your ACA manager.

If you have questions about this email or gaining access to the site, you can contact help@wageup.com or you can go here: https://aaane.wageup.com/help.   Please be sure to include your Name and Station Name so we can better assist you.
-ACA Roadside Dashboard Team

{% endautoescape %}
