{% autoescape off %}

Hi {{ first_name }} {{ last_name }},

We are excited to announce some new reports & functionality on the AAA Club Alliance Roadside Dashboard! In addition to your Member Survey scores and comments, you now have access to operational data such as Average ATA (Actual Time of Arrival), Call Volume Trends, Frequency of Driver Contact to Member, etc. These new metrics should further assist you in managing your business and driving increased Member Satisfaction.

ACCESSING THE SITE
You can use the username you created when you signed up to view check-id results.
Your username is: {{ username }}

The link to the website is: https://aaane.wageup.com

VIEWING REPORTS:
Once you enter the site, click on DASHBOARD at the top of the screen if you haven't already done the KIR training. The first page you will see once you do this is the new MY DASHBOARD report. This provides all of your Key Metrics (both survey data and operational metrics), by Month and by Driver.  Click on the KEY METRICS REPORT link on the left bar if the report doesn’t populate the first time you log in.

To view your current Incentive Score, click on SURVEYS at the top of the screen next to MY DASHBOARD. This will bring up your current Incentive Scorecard as of the new results. The site is updated daily.

To access the raw survey returns for your station, including the Member verbatim comments, click on SURVEY > RAW SURVEYS. This will provide a list of all surveys that have been completed for the time period selected.  You can change the time period by clicking on SELECT DATE RANGE FOR SURVEYS, then clicking Service Date, and entering the FROM and TO dates in the calendar, and hitting SUBMIT.  You can also EXPORT these reports.

If you have trouble accessing reports or have questions or feedback, please click CONTACT at the top of the page to provide that feedback. For more information about the survey or compensation program itself, please speak with your ACA manager.

IMPORTANT NOTE:
Our site doesn’t work so well with older browsers like Internet Explorer. If Internet Explorer is your default browser, please copy the link above and put into Chrome, Edge, or Firefox to see the site in the best way possible. If you only have IE you can go here to get Chrome: https://www.google.com/chrome/

If you have questions about this email or gaining access to the site, you can contact help@wageup.com or you can go here: https://aaane.wageup.com/help.   Please be sure to include your Name and Station Name so we can better assist you.

-ACA Roadside Dashboard Team

{% endautoescape %}
