{% autoescape off %}

Hi {{ first_name }} {{ last_name }},

Welcome! You have been invited by AAA Club Alliance to access the new ACA Roadside Dashboard, where you can view your Roadside Service Member experience results. This exciting new reporting site includes Member responses to the digital survey, operational metrics (e.g., Actual Time of Arrival – ATA, Call Volume trends, etc.) as well as an Incentive Compensation Scorecard Preview for Service Providers.

To get started, please click the personalized link below to create your Username and Password.roviders.

ACCESSING THE SITE
You can use the username you created when you signed up to view check-id results.
Your username is: {{ username }}

The link to the website is: https://aaane.wageup.com

Important Note: Our site doesn’t work so well with older browsers like Internet Explorer. If Internet Explorer is your default browser, please copy the link above
and put into Chrome, Edge, or Firefox to see the site in the best way possible. If you only have IE you can go here to get chrome: https://www.google.com/chrome/

If you don’t remember your password please click on the FORGOT YOUR PASSWORD AND/OR YOUR USERNAME link from the log in page to receive an email to reset your password.

VIEWING REPORTS
Once you enter the site, click on DASHBOARD at the top of the screen if you haven't already done training. The first page you will see once you do this is your SURVEY OVERVIEW, which includes an Incentive Compensation Scorecard for Service Providers (defaulted to current incentive period) and a Current Survey Overview and detail table (with filtering capabilities).
To access the raw surveys, click on SURVEY > RAW SURVEYS. This will provide a list of all surveys that have been completed for the time period selected.

If you have trouble accessing reports or have questions or feedback, please click CONTACT at the top of the page to provide that feedback. For more information about the survey or compensation program itself, please speak with your ACA manager.

-ACA Roadside Dashboard Team
If you have questions about this email or gaining access you can contact help@wageup.com or you can go here: https://aaane.wageup.com/help. Please be sure to give us your name and station so we can better help you.

{% endautoescape %}
