{% autoescape off %}

Hi {{ first_name }} {{ last_name }},

You have been invited by AAA Northeast to create an account for the Roadside Data Platform (hosted by WageUp). This site provides you with essential MyToolKit App Usage Reports as well as the “Arena” where Driver Campaign information will be posted, when applicable (including program registration status and scores).

Please click the link below to go directly to the form where you can create your username and password:

https://aaane.wageup.com/invited/?id={{ inviteid }}

Note: Once you have created your Roadside Data Platform account, the link for this site will be accessible from THE SPOT, so you can navigate from there in the future. If you have any questions, you can email the WageUp Team at: help@wageup.com.

-The WageUp Team & AAA Northeast
{% endautoescape %}
