{% autoescape off %}
<p>
Hi {{ current_user.first_name }} {{ current_user.last_name }},
</p>
<p>
You requested a password reset for {{ username }}, and specified the following email: {{ email }}
</p>
<p>
    Please click the link below to go directly to the form where you can reset your password. IF YOU ARE USING THE APP YOUR RESET CODE IS: <b>{{ token }}</b>
</p>
<p>
{{ reset_password_url }}
</p>
<p>
-WageUp Team
</p>
<p>
If you have questions about this email or gaining access you can contact us at help@wageup.com.
</p>

{% endautoescape %}
