{% autoescape off %}

Happy Holidays {{first_name}} {{last_name}},

We are excited to announce your Station is participating in the “COLD RUSH” Driver Award Program.  Over the next two months, YOU have an opportunity to earn up to $500 in cold hard cash (or Amazon Gift Card)!  This email will help you enroll.

By providing AAA Members great service, you have the opportunity to earn extra money!  You will earn $20 each time a Member you serve ranks Overall Satisfaction as “Totally Satisfied”.

To be eligible to participate in Cold Rush for Surveys for service events January 1st through February 28th you must enroll by Friday, January 15th – why wait? Get registered today!

GO HERE:  https://aaane.wageup.com/campaign/hh5?employee={{employee_id}} and REGISTER by following 3 Steps:
1.	Watch the 5-minute “Five Points of the Star” video.
2.	Answer 3 Questions correctly
3.	Select how you want your money

*** This registration process must be completed by Friday, January 15th!

IMPORTANT NOTE:
Our site works best with Chrome, Edge, or Firefox.  It doesn’t work so well with older browsers like Internet Explorer; if this is your default browser, please copy the link above and put into a preferred browers.
If you only have IE you can go here to get Chrome: https://www.google.com/chrome/

If you have questions about this email or gaining access to the site, you can contact help@wageup.com or you can go here: https://aaane.wageup.com/help.   Please be sure to include your Name and Station Name so we can better assist you.

WageUp Cold Rush Team

{% endautoescape %}