{% autoescape off %}

Happy Holidays {{first_name}} {{last_name}},

We are excited to announce Your Station is participating in the “Holiday High Five” Driver Award Program.  Over the next 5 weeks, YOU have an opportunity to get up to $500 for the holiday season!  This email will help you enroll.

By providing AAA Members great service, you get two ways to earn money.  First, you will get $20 each time a Member you serve ranks Overall Satisfaction as “Totally Satisfied”. Second, if you score at least 90% Total Satisfaction on Driver Satisfaction for service events during this period, you will be entered into a random drawing that offers a 1 in 4 chance of getting a $200 bonus!!

The program covers the period Nov 9th through Dec 11th.   BUT – you MUST enroll by Friday, Nov 13 – why wait?  Get registered today!

GO HERE:  https://aaane.wageup.com/campaign/hh5?employee={{employee_id}} and REGISTER by following 3 Steps:
1.	Watch the 5-minute “Five Points of the Star” video.
2.	Answer 3 Questions correctly
3.	Select how you want your money

*** This registration process must be completed by Friday, November 13th!

IMPORTANT NOTE:
Our site works best with Chrome, Edge, or Firefox.  It doesn’t work so well with older browsers like Internet Explorer; if this is your default browser, please copy the link above and put into a preferred browers.
If you only have IE you can go here to get Chrome: https://www.google.com/chrome/

If you have questions about this email or gaining access to the site, you can contact help@wageup.com or you can go here: https://aaane.wageup.com/help.   Please be sure to include your Name and Station Name so we can better assist you.

WageUp Holiday High 5 Team

{% endautoescape %}
